@page
@model BlogRazorPages.Pages.BlogPosts.DetailsModel
@{
    ViewData["Title"] = Model.BlogPost.Title;
}

<section>
    <article class="blog-post-container">
        <h1 class="mb-2">@Model.BlogPost.Title</h1>
        @if (Model.IsAuthor)
        {
            <div class="info-section">
                <span class="lead d-block mb-2">This is one of your posts</span>
                <span class="d-block">
                    <span class="font-weight-bold">Written at: </span>
                    @Model.BlogPost.DisplayDateCreated
                </span>
                <span class="d-block">
                    <span class="font-weight-bold">Last edited: </span>
                    @Model.BlogPost.DisplayDateLastEdited
                </span>
                <div class="mt-3">
                    <a asp-page="./Edit" asp-route-id=@Model.BlogPost.Id class="btn btn-primary mr-2">Edit post</a>
                    <a asp-page="./Delete" asp-route-id=@Model.BlogPost.Id class="btn btn-danger">Remove post</a>
                </div>
            </div>
        }
        else
        {
            <div class="info-section-discreet">
                <span class="">
                    <span class="font-weight-bold">Author: </span>
                    <span class="mr-2">@Model.BlogPost.AuthorId</span>
                </span>
                <span class="">
                    <span class="font-weight-bold">Written at: </span>
                    <span class="mr-2">@Model.BlogPost.DisplayDateCreated</span>
                </span>
                <span class="">
                    <span class="font-weight-bold">Last edited: </span>
                    <span class="mr-2">@Model.BlogPost.DisplayDateLastEdited</span>
                </span>
            </div>
        }
        <div class="blog-content">
            <p>@Model.BlogPost.Content</p>

        </div>

    </article>
    
    <section class="comment-section">
        <div class="post-comment">
            <form method="post">
                form for posting comment on a post
            </form>
        </div>
        <div class="comments">
            <div class="comment">
                <h5>Author of comment</h5>
                <p>Text of comment</p>
                <span>DateTime posted</span>
            </div>
        </div>
    </section>
</section>
